<!DOCTYPE html>
html {
	margin: 0;
	padding: 0;
	background: #f0fff0 ;
}

body {
	font-family: Sans-Serif;
	font-variant: small-caps;
}

h4 {
	margin: 0 ;
}
#header-area {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 50px;
}

#message-count {
	font-size: 6pt;
	position: absolute;
	margin-top: 2px ;
	right: 0;
	top: 15px;
}

#status {
	font-size: 10pt;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
}

#view-menu {
	font-size: 11pt;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
}

#view-name {
	font-size: 12pt;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 30px;
}

#selection-total {
	font-size: 10pt;
	position: absolute;
	background: #b5d8d0;
	color: #000;
	right: 0;
	top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#underlying-data-close {
	margin: 8px;
	padding: 3px;
	font-size: 12pt;
	background: #302875;
	color: #90c6d8;
	right: 0 ;
	top: 0 ;
	position: absolute ;
	cursor: pointer;
}

#underlying-data {
	position: absolute;
	font-size: 9pt;
	background: #dfe6b8;
	width: 100%;
	height: 100%;
	color: #200855;
	left: 0;
	top: 0;
	overflow: auto;
}
#underlying-data table {
	width: 100%;
	border-collapse: collapse;
}
#underlying-data table tr:hover{
	background: #c0d6af;
}

#underlying-data-table th {
	text-align: left;
	border-bottom: 1px solid #302875;
}

#underlying-detail {
	position: absolute;
	font-size: 9pt;
	background: #dfb8e6;
	width: 100%;
	height: 100%;
	color: #200855;
	left: 0;
	top: 0;
	overflow: auto;
}
#underlying-detail table {
	width: 100%;
	border-collapse: collapse;
}
#underlying-detail table tr:hover{
	background: #c0afd6;
}

#underlying-detail-table th {
	text-align: left;
	border-bottom: 1px solid #302875;
}


.underlying-data-attributes {
	width: auto !important ;
	margin-bottom: 25px ;
	background: #80d6c0 ;
}

.underlying-data-attributes th {
	border-bottom: none !important ;
	text-align: right !important ;
	padding-left: 25px !important ;
	padding-right: 15px !important ;
}

.underlying-data-attributes tr:hover {
	background: inherit !important ;
}

div.spinner {
	display: none;
	width: 100px;
	height: 100px;
	width: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
}

div.spinner div {
	width: 12%;
	height: 26%;
	background: #000;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	color: #00cc00;
	animation: fade 1s linear infinite;
	border-radius: 50px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

div.spinner div.bar1 {
	transform: rotate(0deg) translate(0, -142%);
	animation-delay: 0s;
}

div.spinner div.bar2 {
	transform: rotate(30deg) translate(0, -142%);
	animation-delay: -0.9167s;
}

div.spinner div.bar3 {
	transform: rotate(60deg) translate(0, -142%);
	animation-delay: -0.833s;
}

div.spinner div.bar4 {
	transform: rotate(90deg) translate(0, -142%);
	animation-delay: -0.75s;
}

div.spinner div.bar5 {
	transform: rotate(120deg) translate(0, -142%);
	animation-delay: -0.667s;
}

div.spinner div.bar6 {
	transform: rotate(150deg) translate(0, -142%);
	animation-delay: -0.5833s;
}

div.spinner div.bar7 {
	transform: rotate(180deg) translate(0, -142%);
	animation-delay: -0.5s;
}

div.spinner div.bar8 {
	transform: rotate(210deg) translate(0, -142%);
	animation-delay: -0.41667s;
}

div.spinner div.bar9 {
	transform: rotate(240deg) translate(0, -142%);
	animation-delay: -0.333s;
}

div.spinner div.bar10 {
	transform: rotate(270deg) translate(0, -142%);
	animation-delay: -0.25s;
}

div.spinner div.bar11 {
	transform: rotate(300deg) translate(0, -142%);
	animation-delay: -0.1667s;
}

div.spinner div.bar12 {
	transform: rotate(330deg) translate(0, -142%);
	animation-delay: -0.0833s;
}

@keyframes fade {
	from { opacity: 1; } 
	to { opacity: 0.25; }
}

.good-status {
	color: green;
}

.bad-status {
	background-color: #c81306;
	color: #ffffff ;
	font-size:48pt !important ;
	letter-spacing: 5pt ;
	animation: fade 0.75s alternate infinite;
	z-index: -10 ;
}

.export {
	position: absolute;
	right: 75px;
	top: 3px;
}

#content {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	top: 55px;
}

.grid {
	border-collapse: collapse;
}

.menuButton {
	margin-left: 0.01cm;
	font-size: 9pt;
}

.expand-button {
	width: 9pt;
	height: 9pt;
	font-size: 6pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

.hdr-cell {
	font-size: 8pt;
	color: #1f0810;
	min-width: 1.3cm;
	text-align: right;
	font-weight: bold;
}

.label-hdr-cell {
	font-size: 8pt;
	color: #1f0810;
	min-width: 2.0cm;
	text-align: left;
}

.data-cell {
	font-size: 8pt;
	text-align: right;
	padding-left: 0.02cm;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: cell ;
}

.hidden-cell {
	display: none ;
}

.data-cell-negative {
	color: #a81306 ;
}

.data-cell-flash {
	background-color: inherit ;
	animation: flash 0.175s linear ;
}

@keyframes flash {
	from { background-color: #e0e0e0 ; } 
	to { background-color: inherit ; }
}

.hdr-row-2 {
	background: #c0c0d0;
	line-height: 11pt;
}

.hdr-row-1 {
	background: #d0d0e0;
	line-height: 11pt;
}

.hdr-row-0 {
	background: #e0e0f0;
	line-height: 11pt;
}


.total-col-2 {
	background: #aafff0;	
	border-left: dashed 1px #204080 ;
}

.total-col-1 {
	background: #9affe0;	
	border-left: solid 1px #204080 ;
}

.total-col-0 {
	background: #8affd0;	
	border-left: solid 2px #204080 ;
}

.total-row-2 {
	background: #c0c0d0;
	border-bottom: solid 1px #204080;
	line-height: 9pt;
}

.total-row-1 {
	background: #d8d8e8;
	border-bottom: solid 1px #305080;
	line-height: 9pt;
}

.total-row-0 {
	background: #f0f0ff;
	border-bottom: solid 1px #406080;
	line-height: 9pt;
}

.dataRow:nth-child(odd) {
	background: #e4deef;
	line-height: 9pt;
}

.dataRow:hover, .total-row-0:hover, .total-row-1:hover, .total-row-2:hover
	{
	background: #caf0e5;
}

td.selected {
	background: #aed2c9;
}
